// Containers ---------
.wrapper {
  display: grid;
  grid-template-columns: minmax(1.6rem, 1fr) minmax(auto, 1248px) minmax(1.6rem, 1fr);
  grid-template-rows: 6.4rem auto 6.4rem;

  @include breakpoint(mindesktop) {
    grid-template-columns: minmax(9.6rem, 1fr) minmax(auto, 1248px) minmax(9.6rem, 1fr);
    grid-template-rows: 12.8rem auto 12.8rem;
  }

  >* {
    grid-column: 2;
    grid-row: 2;
  }
}

.wrapper--content {
  @include breakpoint(mintablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 128px;
    align-items: center;
  }
}