html {
  font-size: 62.5%;
}

body {
  font-family: $body-font;
  color: $color-text;
  font-size: 1.6rem;
  line-height: 1.5;
}

// Headers ---------------
h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h1 {
  font-size: 3.0rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

.title {
  &--uber {
    font-size: 3.0rem;
  }

  &--with-pill {
    font-size: 2.4rem;
    position: relative;

    &::before {
      content: url("data:image/svg+xml;utf8,<svg width='51' height='51' viewBox='0 0 51 51' xmlns='http://www.w3.org/2000/svg' version='1.1'><path d='M4.06359 29.5195C3.25978 28.7086 2.71439 27.6777 2.49639 26.5572C2.27839 25.4366 2.39758 24.2768 2.83889 23.2243C3.2802 22.1718 4.0238 21.274 4.97563 20.6444C5.92746 20.0148 7.04476 19.6818 8.1862 19.6874L42.8696 19.6846C44.3799 19.7164 45.8177 20.3392 46.8745 21.4191C47.9312 22.4991 48.5225 23.9502 48.5214 25.4608C48.5203 26.9715 47.9269 28.4211 46.8686 29.4986C45.8103 30.576 44.3715 31.1953 42.8612 31.2234L8.16668 31.1927C7.40638 31.1978 6.6525 31.0526 5.94835 30.7655C5.2442 30.4783 4.60368 30.0549 4.06359 29.5195Z' fill='%23FFB600'/></svg>");
      position: absolute;
      top: -40px;
    }
  }
}

// Lists ---------------
ul,
ol {
  margin: 0 0 1.5em;
  padding-left: 1.5em;
}

ul {
  list-style: none;

  li {
    margin-bottom: 0.5em;
    position: relative;

    &::before {
      content: url("data:image/svg+xml;utf8,<svg width='8' height='8' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg' version='1.1'><circle cx='4' cy='4' r='4' fill='%2300AEEF' /></svg>");
      position: absolute;
      left: -1.5em;
      top: -0.1em;
    }
  }
}

ol {
  list-style: decimal;
}

li>ul,
li>ol {
  margin-bottom: 0;
  margin-left: 0.5em;
}