// --------------------------------
// Colours
// --------------------------------
$main-colour: #212121;
$accent-colour: #d84445;

// --------------------------------
// Typography
// --------------------------------
$body-font: 'IBM Plex Sans',
sans-serif;
$heading-font: $body-font;