// --------------------------------
// Colours
// --------------------------------
$color-text: #0D4B73;
$color-text--secondary: #457DA1;
$color-text--disabled: #8BABC1;

$color-brand-blue: #00AEEF;
$color-brand-blue--medium: #C7E8F5;
$color-brand-blue--light: #F5FBFD;
$color-brand-yellow: #FFB600;
$color-brand-red: #C54B38;
$color-brand-green: #A8AD00;

$gradient--dark-to-light: linear-gradient(268deg, #28AAE2 0%, #006095 98%);
$gradient--light-to-dark: linear-gradient(268deg, #006095 0%, #28AAE2 98%);

$elevation-1: 0px 2px 3px rgba($color-text, 0.15);

// --------------------------------
// Typography
// --------------------------------
$body-font: 'IBM Plex Sans',
-apple-system,
BlinkMacSystemFont,
segoe ui,
Roboto,
Oxygen,
Ubuntu,
Cantarell,
open sans,
helvetica neue,
sans-serif;
$heading-font: $body-font;