// Section background colours -------
.section {
  &--gradient {
    background: $gradient--dark-to-light;
    color: #FFF;
  }

  &--gradient-reversed {
    background: $gradient--light-to-dark;
    color: #FFF;
  }

  &--with-tint {
    background: $color-brand-blue--light;
  }
}

// Hero -------
.hero {
  .site-logo {
    h1 {
      @include visually-hidden();
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0px 3px 18px rgba($color-text, 0.5);
    max-width: 430px;
    align-self: center;
    justify-self: center;

    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
    }

    &::before {
      background: linear-gradient(137.46deg, rgba(82, 160, 190, 0.71) 14.59%, rgba(82, 160, 190, 0.15) 85.19%);
      mix-blend-mode: color;
      opacity: 0.6;
    }

    &::after {
      background-color: black;
      opacity: 0.6;
      mix-blend-mode: color;
    }
  }
}

// Platform projects -------
.section-projects {

  @include breakpoint(mintablet) {
    grid-template-rows: 3.2rem auto 10rem;

    .wrapper--content {
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 24px;
    }

    .content__copy {
      grid-row: 1;
      grid-column: 1/span 4;
    }

    .content__figure {
      grid-row: 1;
      grid-column: 5/-1;
      justify-self: end;
      transform: translateY(50%);
      width: 980px;
    }
  }
}

// Security -------
.section-security {
  .wrapper--content {
    margin-top: 12.8rem;
  }
}