.footer-site {
  @include breakpoint(mindesktop) {
    grid-template-rows: 6.4rem auto 6.4rem;
  }

  color: #FFF;
  background: $color-text;

  a {
    color: $color-brand-yellow;
    border: none;

    &:active,
    &:focus,
    &:hover {
      border-bottom: 1px dotted;
      background: none;
    }
  }

  .content {
    &__figure {
      opacity: 0.5;
    }
  }

  // Footer on small screens
  @include breakpoint(tablet) {
    .wrapper--content {
      align-items: center;
    }

    .content {

      &__copy,
      &__figure {
        grid-row: 1;
        grid-column: 1;
      }

      &__copy {
        z-index: 10;
      }

      &__figure {
        opacity: 0.2;
      }
    }

    .alert {
      justify-self: center;
    }
  }
}