.footer-site {
  color: #FFF;
  background: $color-text;

  a {
    color: $color-brand-yellow;
    border: none;

    &:active,
    &:focus,
    &:hover {
      border-bottom: 1px dotted;
      background: none;
    }
  }
}