.section-contact {
  @include breakpoint(mindesktop) {
    grid-template-rows: 6.4rem auto 6.4rem;
  }

  color: #FFF;
  background: $color-text;

  a {
    color: $color-brand-yellow-5;
    border: none;
    padding-bottom: 0.15em;

    &:active,
    &:focus,
    &:hover {
      color: $color-brand-yellow-4;
      border-bottom: 1px dotted;
      background: none;
    }
  }

  .content {
    &__figure {
      opacity: 0.5;
    }
  }

  // Contact on small screens
  @include breakpoint(tablet) {
    .wrapper--content {
      align-items: center;
    }

    .content {

      &__copy,
      &__figure {
        grid-row: 1;
        grid-column: 1;
      }

      &__copy {
        z-index: 10;
      }

      &__figure {
        opacity: 0.2;
      }
    }

    .alert {
      justify-self: center;
    }
  }
}
.footer-site {
  grid-template-rows: 2.4rem auto 2.4rem;

  background: $color-neutral-0;

  &__content {
    @include breakpoint(tablet) {
      flex-direction: column;
      align-items: center;
    }

    display: flex;
    color: $color-text--secondary;
    font-size: 1.4rem;
    line-height: 1.428571429;
  }

  &__copy {
    @include breakpoint(tablet) {
      text-align: center;
      margin: 0 0 24px 0;
    }

    @include breakpoint(mintablet) {
      margin: 0 24px 0 0;

      align-self: flex-end;
    }
  }

  &__logos {
    display: flex;
    align-items: center;

    a {
      border: none;
      display: flex;

      &:active,
      &:focus,
      &:hover {
        background: none;
      }
    }

    a+a {
      margin-left: 24px;
    }
  }
}